/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 Apr 2023, 16:08:48
    Author     : becky
*/
background  { background-image: url("images/earth2.png")
}

body { color: #ffffff; font: sans-serif; font-size: 16px; margin: 0;

}

.h1 {font-size: 55px;
    line-height: 1.2;
}
.h2 {font-size: 48px;
    line-height: 1.2;
}
.h3 {font-size: 36px;
    line-height: 1.2;
}
/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }*/