/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 Apr 2023, 16:08:48
    Author     : becky
*/

background  { background-image: url("images/earth2.png")
}
.background { background-color: #000000; 

}

body.font { color: #ffffff; font: sans-serif; font-size: medium;

}
.title { font-size: larger; text-align: center; font: 20px; 
    
}
