.background  { background-image: url("images/earth2.png")
}

body { color: #ffffff; 
       font-family: airal black, sans-serif; 
       font-size: 18px; 
       margin: 0;
       
}
/*homepage*/
.h1 {font-size: 65px;
     font-weight: bold;
     line-height: 1.2;
     padding-top: 20px;
     padding-bottom: 10px;
    
}
.h2 {font-size: 58px;
     font-weight: bold;
     line-height: 1.2;
     padding-top: 20px;
     padding-bottom: 10px;
}
.h3 {font-size: 36px;
     font-weight: bold;
     line-height: 1.2;
     padding-top: 20px;
     padding-bottom: 10px;
}
.paragraph {line-height: 1.2;
            padding: 5px 0px;
}

.right {
  float: right;
  width: 40%;
  padding: 10px 10px;
  padding-top: 20%
}
/*claim page*/

.images {
  height: auto;
  margin: auto;
  width: auto;
  /*  border: 3px solid #000;*/
  padding: 10px;
}

img {
  width: 80%;
  height: auto;
}

.left {
  float: left;
  margin: auto;
  width: 50%;
  padding: 10px 10px;
  padding-top: 20px;
  text-align: center;
}
 